.author-list {
  width: 100%;
  height: 100%;
  min-height: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
}

.author-table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;

  .col-icon {
    width: 0;
    min-width: min-content;
  }

  .col-name {
    width: 0;
    min-width: min-content;
  }

  .col-paper-count {
    width: 0;
    min-width: min-content;
  }

  .col-citation-count {
    width: 0;
    min-width: min-content;
  }

  .col-filler {
    width: auto;
  }

  .author-row {
    cursor: pointer;
    width: 100%;

    .svg-icon {
      color: var(--gray-300);
    }

    &:hover {
      background-color: var(--blue-50);
    }
  }

  & td {
    vertical-align: center;
    padding: 2px 0;
  }

  .person-icon {
    padding-left: calc(1rem - 2px);
    padding-right: 10px;
  }

  .name {
    padding-right: 50px;
    font-weight: 600;
  }

  .paper-count {
    color: var(--gray-500);
    padding-right: 50px;
  }

  .citation-count {
    color: var(--gray-500);
  }
}

.svg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}
