.author-list {
  width: 100%;
  height: 100%;
  min-height: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
}

.author-table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  --cell-padding-right: 50px;

  &:has(.author-row) {
    margin-top: 10px;
  }

  .col-icon {
    width: 0;
    min-width: min-content;
  }

  .col-name {
    width: 0;
    min-width: min-content;
  }

  .col-paper-count {
    width: 0;
    min-width: min-content;
  }

  .col-citation-count {
    width: 0;
    min-width: min-content;
  }

  .col-filler {
    width: 100%;
  }

  .author-row {
    cursor: pointer;
    width: 100%;

    .svg-icon {
      color: var(--gray-300);
    }

    &:hover {
      background-color: var(--gray-50);
    }

    &:active {
      background-color: var(--gray-100);
    }
  }

  & td {
    vertical-align: center;
    padding: 3px 0;
    height: 24px;
  }

  .icon {
    padding-left: calc(1rem - 2px);
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    padding-right: var(--cell-padding-right);
    font-weight: 600;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
  }

  .paper-count {
    color: var(--gray-500);
    padding-right: var(--cell-padding-right);
    vertical-align: top;
  }

  .citation-count {
    color: var(--gray-500);
    vertical-align: top;
  }
}

.svg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .author-table {
    --cell-padding-right: 10px;

    .name {
      min-width: 100px;
      white-space: wrap;
    }
  }
}
