.app {
  width: calc(100% - 20px);
  height: calc(100% - 60px);

  max-height: 1200px;
  max-width: 1200px;
  box-sizing: border-box;

  /* overflow: hidden; */
  border: 1px solid var(--gray-300);
  overflow: hidden;
  /* border-radius: var(--border-radius); */
  background: white;
  /* box-shadow:
    0 0 2px hsla(0, 0%, 0%, 0.1),
    0 0 10px hsla(0, 0%, 0%, 0.04),
    0 0 15px hsla(0, 0%, 0%, 0.04),
    0 0 30px hsla(0, 0%, 0%, 0.04); */
}

button {
  all: unset;
}

.view-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.info-bar {
  padding: var(--container-v-padding) var(--container-h-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--gray-300);
  box-sizing: border-box;

  .info-block {
    height: 100%;
    box-sizing: border-box;

    &[no-show] {
      display: none;
    }
  }

  .info-button {
    border: 1px solid var(--gray-300);
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--gray-400);
    }

    &[is-unset] {
      color: var(--gray-600);
    }
  }

  .menu-button {
    border: 1px solid var(--gray-300);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px solid var(--gray-400);
    }
  }
}

.step-content-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  flex: 1;
  min-height: 0px;
  position: relative;

  .content-view {
    min-height: 0px;
    position: absolute;
    height: 100%;
    width: 100%;

    &[no-show] {
      display: none;
    }
  }
}

.svg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.hamburger-icon {
  --hamburger-width: 16px;
  --hamburger-height: calc(sin(45deg) * var(--hamburger-width));
  --hamburger-line-height: 2px;

  width: var(--hamburger-width);
  height: var(--hamburger-height);

  transform: rotate(0deg);
  transition: 300ms ease-in-out;
}

.hamburger-icon span {
  position: absolute;
  height: var(--hamburger-line-height);
  border-radius: var(--hamburger-line-height);
  width: 100%;

  background: currentColor;
  opacity: 1;
  left: 0;

  transform: rotate(0deg);
  transform-origin: left center;
  transition: 150ms ease-in-out;
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
}

.hamburger-icon span:nth-child(2) {
  top: calc((var(--hamburger-height) / 2) - (var(--hamburger-line-height) / 2));
}

.hamburger-icon span:nth-child(3) {
  top: calc(var(--hamburger-height) - var(--hamburger-line-height) / 1);
}

.hamburger-icon[open] span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: calc((var(--hamburger-width) - var(--hamburger-height)) / 2);
}

.hamburger-icon[open] span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-icon[open] span:nth-child(3) {
  transform: rotate(-45deg);
  top: var(--hamburger-height);
  left: calc((var(--hamburger-width) - var(--hamburger-height)) / 2);
}

@media only screen and (max-width: 768px) {
  .app {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    box-shadow: none;
    border-radius: 0px;
  }

  .info-bar {
    gap: 10px;
  }

  .info-button {
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
