.app {
  width: 1000px;
  height: 700px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  /* overflow: hidden; */
  border: 1px solid var(--gray-400);
  border-radius: var(--border-radius);
}

.view-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.info-bar {
  padding: var(--container-v-padding) var(--container-h-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--gray-300);

  .info-block {
    &[no-show] {
      display: none;
    }
  }

  .profile-name {
    border: 1px solid var(--gray-300);
    border-radius: 5px;
    padding: 5px 10px;

    &[is-unset] {
      color: var(--gray-600);
    }
  }
}

.step-content-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  flex: 1;
  min-height: 0px;
  position: relative;

  .content-view {
    min-height: 0px;
    position: absolute;
    height: 100%;
    width: 100%;

    &[no-show] {
      display: none;
    }
  }
}
