.app {
  width: 1000px;
  height: 700px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  /* overflow: hidden; */
  border: 1px solid var(--gray-400);
  border-radius: var(--border-radius);
}

.view-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

recrec-author-view {
  flex: 1;
  min-height: 0px;
}
