.recommender-view {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.svg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.control-bar {
  flex: 0 1 auto;

  display: flex;
  flex-flow: column;
  border-right: 1px solid var(--gray-300);
  height: 100%;
  gap: 10px;

  --sl-color-primary-600: var(--blue-700);
  --sl-font-size-medium: 1rem;
}

.control-pop-bar {
  position: absolute;
  z-index: 1;
  background: white;

  display: flex;
  flex-flow: column;
  height: min-content;
  gap: 10px;

  --sl-color-primary-600: var(--blue-700);
  --sl-font-size-medium: 1rem;

  padding-bottom: 20px;
  border-right: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
  border-bottom-right-radius: 5px;
  box-shadow:
    0px 0px 5px hsla(0, 0%, 0%, 0.06),
    0px 0px 10px hsla(0, 0%, 0%, 0.06),
    0px 0px 20px hsla(0, 0%, 0%, 0.06);

  &[no-show] {
    display: none;
  }
}

.control-section {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;

  &.control-section-slider {
    gap: 25px;
  }
}

.control-block {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 20px;
  box-sizing: border-box;
  line-height: 1;

  .title {
    max-width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: var(--font-u2);
    font-weight: 600;
    padding-top: 20px;
    line-height: 1;
  }

  nightjar-slider {
    width: 100%;
  }

  &.slider-block {
    gap: 10px;

    &:last-child {
      padding-bottom: 10px;
    }
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    accent-color: var(--blue-700);
  }

  &.select-block {
    flex-flow: row;
    gap: 5px;
    align-items: center;
  }

  .select-wrapper {
    position: relative;

    &::after {
      right: 8px;
      border-right: 2px solid hsl(0, 0%, 60%);
      border-top: 2px solid hsl(0, 0%, 60%);
      content: '';
      display: block;
      height: 5px;
      width: 5px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
      transform-origin: center;
      transition: border 100ms linear;
    }

    &:has(.select-sort:hover) {
      &::after {
        border-right: 2px solid hsl(0, 0%, 50%);
        border-top: 2px solid hsl(0, 0%, 50%);
      }
    }
  }

  & select.select-sort {
    padding: 3px 22px 3px 5px;
    margin: 0px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;

    border-radius: 4px;
    border: 1px solid var(--gray-300);
    background: white;

    font-family: inherit;
    font-size: var(--font-d1);
    color: inherit;

    transition: border 100ms linear;

    &:hover {
      border: 1px solid var(--gray-400);
    }
  }
}

.separator {
  height: 1px;
  background: var(--gray-200);
  width: 100%;
  margin: 7px 0;
  box-sizing: border-box;
}

.right-content {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  padding: var(--container-v-padding) var(--container-h-padding);
  overflow-y: auto;
  height: 100%;

  .footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.recommender-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 14px;
}

.recommender-empty-placeholder {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;

  &[no-show] {
    display: none;
  }

  .text-icon {
    font-size: 50px;
    font-weight: 600;
    color: var(--gray-400);
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0 5px 0;
  }

  .description {
    max-width: 60ch;
    color: var(--gray-600);
  }
}

.recommender-card {
  max-width: 200px;
  box-sizing: border-box;

  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  line-height: 1;
  cursor: default;

  display: flex;
  flex-flow: column;
  gap: 5px;

  .header {
    font-weight: 600;
    font-size: var(--font-d1);

    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--blue-800);
    }
  }

  .info-bar {
    font-size: var(--font-d4);
    display: flex;
    gap: 10px;

    &.icons {
      padding-top: 0px;
      margin-top: auto;
    }

    &[no-show] {
      display: none;
    }
  }

  .info-label {
    display: inline;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
  }

  .info-award {
    color: var(--orange-800);
    white-space: wrap;
  }

  .info-block {
    display: flex;
    align-items: center;
    gap: 1px;
    background-color: var(--gray-100);
    padding: 3px 4px;
    border-radius: 2px;

    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &.cite-time {
      gap: 2px;
    }

    &:hover {
      background-color: var(--gray-200);
    }
  }

  .svg-icon {
    color: var(--gray-500);
  }
}

.progress-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: white;
  border-radius: 10px;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: opacity 300ms ease-in-out;

  --track-width: 5px;
  --sl-color-primary-600: var(--blue-700);

  &[is-completed] {
    opacity: 0;
    pointer-events: none;
  }

  .progress-message {
    &::after {
      content: '';
      animation: dot 300ms linear infinite;
    }
  }

  .progress-remain-time {
    font-style: italic;
    color: var(--gray-500);
    margin-top: -6px;
  }
}

button {
  all: unset;
}

button {
  border-radius: 5px;
  border: 1px solid var(--blue-600);
  background: var(--blue-600);
  color: white;
  font-weight: 500;

  padding: 3px 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  transition:
    background linear 100ms,
    border linear 100ms;

  &:disabled {
    cursor: no-drop;
    border: 1px solid var(--gray-300);
    color: var(--gray-600);
    background: var(--gray-100);
  }

  &:not(:disabled) {
    &:hover {
      border: 1px solid color-mix(in lab, var(--blue-600), white 10%);
      background-color: color-mix(in lab, var(--blue-600), white 10%);
    }

    &:active {
      background: var(--blue-600);
      border: 1px solid var(--blue-600);
    }
  }

  &[no-show] {
    display: none;
  }
}

.popper-tooltip {
  position: absolute;
  width: max-content;
  left: 0px;
  top: 0px;
  z-index: 20;
  background: var(--gray-800);
  color: white;
  box-shadow:
    0 0 1px hsla(0, 0%, 0%, 0.6),
    0 0 3px hsla(0, 0%, 0%, 0.05);
  padding: 0px 5px 3px;
  border-radius: 4px;
  font-size: var(--font-d3);

  display: flex;
  justify-content: center;
  box-sizing: border-box;

  opacity: 1;
  transform: scale(1);
  transform-origin: right center;
  transition:
    opacity 150ms linear,
    transform 150ms linear;

  &[placement='right'] {
    transform-origin: left center;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
  }

  &.no-show {
    display: none;
  }

  .popper-content {
    max-width: 300px;
    max-height: 200px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    grid-template-columns: auto min-content;
    column-gap: 3px;
    row-gap: 2px;
    padding: 2px;

    user-select: none;
    -webkit-user-select: none;
  }

  .popper-arrow {
    position: absolute;
    background: var(--gray-800);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }

  .cell-paper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cell-count {
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  .popper-tooltip {
    .popper-content {
      max-width: 100%;
      table-layout: fixed;
    }

    .td-paper {
      max-width: unset;
    }

    .col-paper {
      width: auto;
    }

    .col-count {
      width: 20px;
    }
  }
}
