.recommender-view {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
  position: relative;
}

.svg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;

  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}

.control-bar {
  flex: 0 1 auto;

  display: flex;
  flex-flow: column;
  border-right: 1px solid var(--gray-300);
  height: 100%;
  gap: 10px;

  --sl-color-primary-600: var(--blue-700);
  --sl-font-size-medium: 1rem;
}

.control-section {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;

  &.control-section-slider {
    gap: 25px;
  }
}

.control-block {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 20px;
  box-sizing: border-box;
  line-height: 1;

  .title {
    max-width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: var(--font-u2);
    font-weight: 600;
    padding-top: 20px;
    line-height: 1;
  }

  nightjar-slider {
    width: 100%;
  }

  &.slider-block {
    gap: 10px;

    &:last-child {
      padding-bottom: 10px;
    }
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &.select-block {
    flex-flow: row;
    gap: 5px;
    align-items: center;
  }

  .select-wrapper {
    position: relative;

    &::after {
      right: 8px;
      border-right: 2px solid hsl(0, 0%, 60%);
      border-top: 2px solid hsl(0, 0%, 60%);
      content: '';
      display: block;
      height: 5px;
      width: 5px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
      transform-origin: center;
      transition: border 100ms linear;
    }

    &:has(.select-sort:hover) {
      &::after {
        border-right: 2px solid hsl(0, 0%, 50%);
        border-top: 2px solid hsl(0, 0%, 50%);
      }
    }
  }

  & select.select-sort {
    padding: 3px 22px 3px 5px;
    margin: 0px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;

    border-radius: 4px;
    border: 1px solid var(--gray-300);
    background: white;

    font-family: inherit;
    font-size: var(--font-d1);
    color: inherit;

    transition: border 100ms linear;

    &:hover {
      border: 1px solid var(--gray-400);
    }
  }
}

.separator {
  height: 1px;
  background: var(--gray-200);
  width: 100%;
  margin: 7px 0;
  box-sizing: border-box;
}

.recommender-content {
  box-sizing: border-box;
  padding: var(--container-v-padding) var(--container-h-padding);
  overflow-y: auto;
  height: 100%;

  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.recommender-card {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  line-height: 1;

  display: flex;
  flex-flow: column;
  gap: 8px;

  color: inherit;
  text-decoration: none;

  .header {
    font-weight: 600;
    font-size: var(--font-d1);
  }

  &:hover {
    box-shadow:
      0 0 1px hsla(0, 0%, 0%, 0.1),
      0 0 10px hsla(0, 0%, 0%, 0.05);
  }

  .info-bar {
    font-size: var(--font-d4);
    display: flex;
    gap: 10px;
  }

  .info-block {
    display: flex;
    align-items: center;
    gap: 1px;
    background-color: var(--gray-100);
    padding: 2px 4px;
    border-radius: 2px;

    &.cite-time {
      gap: 2px;
    }
  }

  .svg-icon {
    color: var(--gray-400);
  }
}

.progress-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: white;
  border-radius: 10px;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: opacity 300ms ease-in-out;

  --track-width: 5px;
  --sl-color-primary-600: var(--blue-700);

  &[is-completed] {
    opacity: 0;
    pointer-events: none;
  }

  .progress-message {
    &::after {
      content: '';
      animation: dot 300ms linear infinite;
    }

    @keyframes dot {
      0%: {
        content: '.';
      }

      33%: {
        content: '..';
      }

      66%: {
        content: '...';
      }
    }
  }
}
