.paper-view {
  width: 100%;
  height: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  box-sizing: border-box;
}

.table-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  border-bottom: 1px solid var(--gray-300);
  border-left: none;
  border-right: none;
}

.paper-table {
  --table-v-padding: 13px;
  --table-h-padding: 30px;

  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
  line-height: 1.24;
  margin-bottom: 10px;
  box-sizing: border-box;

  & thead {
    position: sticky;
    top: 0;
    background: var(--gray-100);
    z-index: 2;
  }

  .selected-cell {
    position: relative;
    vertical-align: top;
    padding: var(--table-v-padding) var(--table-h-padding) 0
      var(--container-h-padding);

    & input[type='checkbox'] {
      position: relative;
      margin: 0;
      z-index: 1;
    }

    & label {
      position: absolute;
      width: 36px;
      height: 36px;
      transform: translateX(-60%);
    }
  }

  .title-cell {
    vertical-align: top;
    text-align: left;
    padding: var(--table-v-padding) var(--table-h-padding) 0 0;

    display: flex;
    flex-flow: column nowrap;

    .title {
      font-weight: 500;
    }

    .author {
      font-size: var(--font-d3);

      max-width: 600px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .venue {
      font-size: var(--font-d3);

      max-width: 600px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .citation-cell {
    vertical-align: top;
    text-align: right;
    padding: var(--table-v-padding) var(--table-h-padding) 0 0;
    width: 30px;
    font-size: var(--font-d2);
  }

  .date-cell {
    vertical-align: top;
    text-align: right;
    padding: var(--table-v-padding) var(--container-h-padding) 0 0;
    font-size: var(--font-d2);
  }

  & th {
    white-space: nowrap;
    font-weight: 400;

    &.header-cell {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 1rem;

      &:first-child {
        padding-left: var(--container-h-padding);
      }

      &:last-child {
        padding-right: var(--container-h-padding);
      }
    }
  }
}

button {
  all: unset;
}

button.header-button {
  color: var(--indigo-600);
  cursor: pointer;
  width: min-content;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--indigo-900);
  }
}

.footer {
  box-sizing: border-box;
  padding: var(--container-v-padding) var(--container-h-padding);
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

button {
  all: unset;
}

.confirm-button {
  border-radius: 5px;
  border: 1px solid var(--blue-600);
  background: var(--blue-600);
  color: white;
  font-weight: 500;

  padding: 8px 16px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  transition:
    background linear 100ms,
    border linear 100ms;

  &:disabled {
    cursor: no-drop;
    border: 1px solid var(--gray-300);
    color: var(--gray-600);
    background: var(--gray-100);
  }

  &:not(:disabled) {
    &:hover {
      border: 1px solid color-mix(in lab, var(--blue-600), white 10%);
      background-color: color-mix(in lab, var(--blue-600), white 10%);
    }

    &:active {
      background: var(--blue-600);
      border: 1px solid var(--blue-600);
    }
  }
}
